/* @import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
*
{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
min-height: 100vh;
color: #434248;
background: linear-gradient(to bottom, #859dfb, #ada7fd);
/* font-family: 'Xanh Mono', monospace; */
/* font-family: 'Xanh Mono', monospace; */
font-family: 'Xanh Mono', monospace;
}
main
{
background: #ffffff;
width: 80vw;
max-width: 750px;
margin: 1.5rem auto;
box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.2);
border-radius: 12px;
}

nav
{
text-align: center;
background:  hsla(0, 0%, 0%, 0.015);
padding: 0.75rem 1rem;
position: relative;
}
nav::before
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 80px;
height: 100%;
background: radial-gradient(10px 10px at 20px 50%, #ff5a53 50%,transparent 50%), 
            radial-gradient(10px 10px at 4opx 50%, #e7bf2a 50%, transparent 50%),
            radial-gradient(10px 10px at 6opx 50%, #55c12c 50%, transparent 50%);

}
nav h2
{
    font-weight: 600;
    letter-spacing: 1.1rem;
    font-size: 0.9rem;
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
}
section h1
{
    font-weight: 800;
    font-size: 1.8rem;

}
section avg
{
    margin-top: 2.5rem;
    width: 90;
    height: auto;
}