.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family: "avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffa500;
  border-radius: 1px;
  pointer-events: none;
}

.details {
  color: white;
  pointer-events: none;
}

.top-container {
  display: flex;
}

.world-map {
  position: relative;
}

.selectors {
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 0.1px;
  display: flex;
  flex-direction: column;
}
select {
  min-width: 200px;
  height: 32px;
}
